# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env
.env.*

# VS Code, PyCharm and other IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Pip dependency files backup
pip-log.txt
pip-delete-this-directory.txt

# Migrations (if you want to ignore them)
# Uncomment the next line only if you recreate migrations often
*/migrations/*.py
# */migrations/*.pyc

# Coverage and test reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
.pyre/
media/
# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Node (if using Tailwind or Webpack)
node_modules/

# Gunicorn
gunicorn.pid

# Celery
celerybeat-schedule
celerybeat.pid
